<!doctype html>
<html lang="en">
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <link rel="stylesheet" href="{% static 'cameratrap/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% include 'cameratrap/navbar.html' %}

<div class="container-lg">

    <div class="header1">
        {{ videoFile.ct_id }} - {{ videoFile.site_id }} - {{ videoFile.filename }} - Max Confidence {{ videoFile.max_confidence }}%
    </div>

    <div class="leftPane">
        <div class="embed-responsive embed-responsive-16by9">
            <video width="640" height="360" controls="true" preload="auto" id="oVideo">
              <source src="{{ videoFile.document.url }}" type="video/mp4"/>
            Your browser does not support the video tag.
            </video>
        </div>
        <div class="videoData">
            {{ videoFile.date_start }} - {{ videoFile.date_end }} {{ videoFile.video_width }} x {{ videoFile.video_height }} @ {{ videoFile.fps_video }} fps
        </div>
        <div class="videoMetadata">
            Status: {{ videoFile.video_status }}<br/>
            Objects Detected: {{ videoFile.objects_detected }} <br/>
            Max Objects: {{ videoFile.max_objects_detected }}<br/>
            Max Confidence: {{ videoFile.max_confidence }}<br/>
            Model:{{ videoFile.inference_model }}<br/>
            IFPS: {{ videoFile.fps_inference }}<br/>
        </div>
    </div>

    <div class="rightPane">
        {% for vFrame in videoFile.videoframe_set.all|dictsortreversed:"max_confidence" %}
            <div class="vFrameHolder">
                <a href="#" id="linkJumpToFrame_{{ vFrame.pk }}" onclick="document.getElementById('oVideo').currentTime={{ vFrame.videoTimestamp }}">
                    <img height=256 src="{{ vFrame.filename.url }}"/><br/>
                </a>
                <div class="frameMetadata">
                    Frame {{ vFrame.frame_number }} - ({{ vFrame.videoTimestampFormatted }}) -
                    Confidence: {{ vFrame.max_confidence }}%
                    <a href="{% url 'cameratrap:coco' videoFile.id vFrame.id%}">CoCo</a> -

                </div>
            </div>
        {% endfor %}
    </div>

<div style="clear:both"></div>
<hr/>
    <a href="{% url 'cameratrap:process' videoFile.id %}">Reprocess {{ videoFile.filename }} Sync</a><br/>
    <a href="{% url 'cameratrap:asyncprocess' videoFile.id %}">Reprocess {{ videoFile.filename }} Async</a>
</div>