<!doctype html>
<html lang="en">
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <link rel="stylesheet" href="{% static 'cameratrap/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% include 'cameratrap/navbar.html' %}

<div class="container-lg">
    {% if page_obj %}
        <ul>
        {% for video_file in page_obj %}
            <li>
                <a href="{% url 'cameratrap:detail' video_file.id %}">{{ video_file.filename }}</a> -
                Confidence: {{ video_file.max_confidence }}% - {{  video_file.video_status_readable }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Videos are available.</p>
    {% endif %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


</body>

</html>