<!doctype html>
<html lang="en">
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <link rel="stylesheet" href="{% static 'cameratrap/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload File</title>
</head>

{% include 'cameratrap/navbar.html' %}

<body>
    <div class="container-lg">
        <div>Upload Video</div>
        <div class="jumbotron">
            {% block replace %}
            <p class="lead">Here is where you upload a file</p>
            <hr class="my-4">
            <form method="POST" enctype="multipart/form-data">
                <!-- Very Important csrf Token -->
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit">Upload</button>
            </form>
        </div>
        {% endblock %}
    </div>
</body>

</html>